*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main{
    height: 500px;
    width: 500px;
    text-align: center;
    border: 2px solid gray;
    padding: 4rem;
}

.item{
    margin-bottom: 2px;
}